{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% if site.data.repositories.repo_description_lines_max %}
  {% assign max_lines = site.data.repositories.repo_description_lines_max %}
{% else %}
  {% assign max_lines = 2 %}
{% endif %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}">
    {% assign light_src = "https://github-readme-stats.vercel.app/api/pin/?username=" | append: repo_url[0] | append: "&repo=" | append: repo_url[1] | append: "&theme=" | append: site.repo_theme_light | append: "&show_owner=" | append: show_owner | append: "&description_lines_count=" | append: max_lines %}
    {% assign dark_src = "https://github-readme-stats.vercel.app/api/pin/?username=" | append: repo_url[0] | append: "&repo=" | append: repo_url[1] | append: "&theme=" | append: site.repo_theme_dark | append: "&show_owner=" | append: show_owner | append: "&description_lines_count=" | append: max_lines %}
    <img
      class="repo-img w-100"
      alt="{{ include.repository }}"
      src="{{ light_src }}"
      data-light-src="{{ light_src }}"
      data-dark-src="{{ dark_src }}"
    >
  </a>
</div>
