<div class="repo p-2 text-center">
  <a href="https://github.com/ryo-ma/github-profile-trophy">
    <span class="d-none d-sm-none d-md-block">
      {% assign light_src = "https://github-profile-trophy.vercel.app/?username=" | append: include.username | append: "&theme=" | append: site.repo_trophies.theme_light | append: "&locale=" | append: site.lang | append: "&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=6" %}
      {% assign dark_src = "https://github-profile-trophy.vercel.app/?username=" | append: include.username | append: "&theme=" | append: site.repo_trophies.theme_dark | append: "&locale=" | append: site.lang | append: "&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=6" %}
      <img
        class="repo-img"
        alt="{{ include.username }}"
        src="{{ light_src }}"
        data-light-src="{{ light_src }}"
        data-dark-src="{{ dark_src }}"
      >
    </span>

    <span class="d-none d-sm-block d-md-none">
      {% assign light_src = "https://github-profile-trophy.vercel.app/?username=" | append: include.username | append: "&theme=" | append: site.repo_trophies.theme_light | append: "&locale=" | append: site.lang | append: "&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=4" %}
      {% assign dark_src = "https://github-profile-trophy.vercel.app/?username=" | append: include.username | append: "&theme=" | append: site.repo_trophies.theme_dark | append: "&locale=" | append: site.lang | append: "&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=4" %}
      <img
        class="repo-img"
        alt="{{ include.username }}"
        src="{{ light_src }}"
        data-light-src="{{ light_src }}"
        data-dark-src="{{ dark_src }}"
      >
    </span>

    <span class="d-block d-sm-none">
      {% assign light_src = "https://github-profile-trophy.vercel.app/?username=" | append: include.username | append: "&theme=" | append: site.repo_trophies.theme_light | append: "&locale=" | append: site.lang | append: "&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=3" %}
      {% assign dark_src = "https://github-profile-trophy.vercel.app/?username=" | append: include.username | append: "&theme=" | append: site.repo_trophies.theme_dark | append: "&locale=" | append: site.lang | append: "&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=3" %}
      <img
        class="repo-img"
        alt="{{ include.username }}"
        src="{{ light_src }}"
        data-light-src="{{ light_src }}"
        data-dark-src="{{ dark_src }}"
      >
    </span>
  </a>
</div>
